<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>requestDemo1</servlet-name>
        <servlet-class>com.requestDemo1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestDemo1</servlet-name>
        <url-pattern>/requestDemo1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>requestDemo3</servlet-name>
        <servlet-class>com.requestDemo3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestDemo3</servlet-name>
        <url-pattern>/requestDemo3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>requestDemo4</servlet-name>
        <servlet-class>com.requestDemo4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestDemo4</servlet-name>
        <url-pattern>/requestDemo4</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>requestDemo5</servlet-name>
        <servlet-class>com.requestDemo5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestDemo5</servlet-name>
        <url-pattern>/requestDemo5</url-pattern>
    </servlet-mapping>

</web-app>